/* Style the feedback button and modal form */

.feedback-button-wrapper {
	margin-top: 30px;
}

.feedback-button {
    color: #fff !important;
    padding: 5px 10px !important;
}

.modal {
	z-index: 100000 !important;
}